<html>
    <h1>{{.Genre}}</h1>

    <form>
        <div class="movies">
        {{range $i, $e := .Title}}
            {{if lt $i 2}}
                <input type="radio" name="movie" class="movie" value="{{$i}}">{{.}}
            {{end}}
            {{end}}
        </div>

        <br><br>

        {{range $i, $e := .Path}}
            {{if lt $i 2}}
            <p>{{$i}}</p>
                <p>{{.}}</p>
            {{end}}
        {{end}}
    </form>
</html>
<script src="mvtitles.js"></script>

